.cover-container {
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.login-wrapper {
    position: absolute;
    left: 225px;
    transition: all 1s ease-in-out;
    width: 350px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
.login {
    width: 250px;
    position: absolute;
    left: 50px;
    height: 100%;
}
.login > div {
    height: 25%;
    width: 100%;
}
.login-wrapper-animate {
    transform: rotateY(90deg);
    opacity: 0;
}
.admin-wrapper {
    position: absolute;
    left: 225px;
    transition: all 1s ease-in-out;
    width: 350px;
    height: 100%;
    background-color: white;
    border-radius: 10px;

    transform: rotateY(-90deg);
}
.admin-wrapper-animate {
    transform: rotateY(0deg);
}
.admin {
    width: 250px;
    position: absolute;
    left: 50px;
    height: 100%;
}
.admin > div {
    width: 100%;
    float: left;
    height: 16%;
}
div > p {
    float: left;
    font-size: 18px;
    line-height: 18px;
}